/Backuper/.vs
/Backuper/Debug
/Backuper/Backuper/Debug

/Barbaris/node_modules
/Barbaris/package-lock.json
/Barbaris/projects.csv
/Barbaris/electron

/BarbarisSetup

/CMS/.settings
/CMS/build
/CMS/.classpath
/CMS/.project
/CMS/src/main/webapp/package-lock.json
/CMS/src/main/webapp/node_modules

/GitClient/.vs
/GitClient/Gitclient/bin
/GitClient/Gitclient/obj
/GitClient/Gitclient/Properties

/PngToIco/venv
/PngToIco/build
/PngToIco/dist
/PngToIco/.idea
/PngToIco/__pycache__

/Site/project-site/build
/Site/project-site/node_modules