/Backuper/.vs
/Backuper/Debug
/Backuper/Backuper/Debug

/Barbaris/node_modules
/Barbaris/package_json

/BarbarisSetup

/GitClient/.vs
/GitClient/Gitclient/bin
/GitClient/Gitclient/obj
/GitClient/Gitclient/Properties

/PngToIco/venv
/PngToIco/build
/PngToIco/dist
/PngToIco/.idea
/PngToIco/__pycache__

/Site/project-site/build
/Site/project-site/node_modules