[*.cs]

# CS4014: Поскольку этот вызов не ожидается, выполнение текущего метода продолжается до завершения вызова. Попробуйте применить оператор await к результату вызова.
dotnet_diagnostic.CS4014.severity = none
