@font-face {
	font-family: "Inter"; 
	src: url("./fonts/Inter/Inter-Regular.ttf");
}

@font-face {
	font-family: "Inter";
	font-weight: bold;
	src: url("./fonts/Inter/Inter-Bold.ttf");
}

*:not(i) {
    font-family: "Inter" !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 18px;
}

.container-fluid {
    padding-top: .75rem;
}

a {
    text-decoration: none;
    transition: .1s;
    color: #212529;
}

a:hover {
    color: #212529;
    opacity: .7;
}

a .grey {
    color: grey;
}

a i {
    margin-right: .3em;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.primary {
    background-color:rgb(14, 165, 233) !important;
    color: white !important;
}

.primary:hover {
    opacity: .8;
    /*border: 2px solid black !important;*/
}

.fluid {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.button {
    padding: .6em;
    border-radius: .6em;
    transition: .2s;
    margin: .2em;
    text-align: center;
    box-shadow: 0 2px 6px 0 rgba(34,36,38,.15) !important;
    border: 2px solid transparent;
    cursor: pointer;
}

.button:disabled {
    filter: grayscale(100%);
    color: rgb(200, 200, 200) !important;
    cursor: unset !important;
}

.button:disabled:hover {
    border: 2px solid transparent;
    opacity: 1;
}

.button:hover {
    border: 2px solid black;
}

.buttons {
    display: block;
}

.buttons .button:first-child {
    margin-top: 0;
}

.buttons .button {
    margin-top: .2em;
}

.round.button {
    border-radius: 50%;
    padding: 0;
    height: 100%;
    width: 100%;
}

input[type="text"] {
    padding: .6em;
    border-radius: .6em;
    border: 2px solid transparent;
    box-shadow: 0 2px 6px 0 rgba(34,36,38,.15) !important;
}

input[type="text"]:focus {
    border: 2px solid black;
}

.card {
    padding: .6em;
    border-radius: .6em;
    box-shadow: 0 2px 6px 0 rgba(34,36,38,.15) !important;
    transition: .2s;
    border: 2px solid transparent;
}

.card:hover {
    border: 2px solid black;
}

.card header {
    font-weight: bold;
    font-size: 24px;
}

.card header span {
    margin-left: .6em;
    font-size: 14px;
    color: grey;
    font-weight: normal;
}

.card footer a {
    color: rgb(90, 90, 90);
    margin-right: .6em;
}

.cards {
    display: block;
}

.cards .card:not(:first-child) {
    margin-top: .6em;
}